.editbox {
    position: relative;
    height: 100%;
    width: 100%;
}

.editbox-header {
    display: flex;
    justify-content: center;
}

.editbox-header>div {
    position: absolute;
    top: 0;
    z-index: 2;
    height: 15%;
    width: 93%;
    background-color: #ffba24;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.editbox-footer {
    position: absolute;
    bottom: 0;
    height: 93%;
    width: 100%;
    background-color: white;
    border-radius: 5px;
}

.editModalForm {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.editModalForm>form {
    position: absolute;
    bottom: 0;
    height: 91%;
    width: 100%;
}

.editFormInputField {
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.fieldInnerDiv {
    width: 100%;
}

.editformButtonfield {
    width: 70%;
    display: flex;
    justify-content: space-between;
}