.box {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.header {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header>div {
    position: absolute;
    background-color: rgb(6, 6, 83);
    height: 20%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.body {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.tablecontainer {
    background-color: white;
    height: 100%;
    width: 100%;
}

.tablediv {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    padding-top: 9%;
}

.tablediv>table {
    width: 100%;
    height: 100%;
}

.tablediv>table>tbody {
    border-bottom: solid black 2px;
}

.tablehead {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: solid black 2px
}

.tablerow {
    width: 100%;
    display: flex;
}

.rowtext {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}

.bottom {
    display: flex;
    justify-content: space-between;
}