.mainrow {
    height: 70vh;
    width: 80vw;
}

.userform {
    background-color: white;
    height: 80%;

}

.userform>form {
    height: 100%;
}

.userselectmenu {
    width: 100%;
}

.rolemenu {
    width: 100%;
}

.formbuttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}