.form {
	height: 55%;
	width: 100%;
	margin: auto;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width:320px) {

	.form form {
		width: 100%;
	}

	.inputdiv {
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}

	.forminput {
		width: 80%;
	}

	.loginbutton {
		margin-top: 15px;
	}

	.loginbutton Button {
        width: 80%;
	}
}

@media screen and (min-width: 1281px) and (max-height: 1310px) {
	.form form {
		width: 80%;
	}

	.inputdiv {
		display: flex;
		justify-content: center;
		margin-top: 7px;
	}

	.forminput {
		width: 80%;
	}

	.loginbutton {
		margin-top: 25px;
	}

	.loginbutton Button {
        width: 80%;
	}
}

.boxtext-center {
	margin-bottom: 5px;
	text-align: center;
}