.passwordresetform {
	height: 50%;
	width: 100%;
    margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (min-width:320px) {

	.passwordresetform form {
        width: 100%;
	}

	.passwordresetinputdiv {
		display: flex;
		justify-content: center;
		margin: 10px;
	}

	.passwordresetforminput {
		width: 80%;
	}

	.passwordresetbutton {
		margin-top: 20px;
	}

	.passwordresetbutton Button {
        width: 80%;
	}
}

@media screen and (min-width: 1281px) and (max-height: 1310px) {
	.passwordresetform form {
		width: 80%;
	}

	.passwordresetinputdiv {
		display: flex;
		justify-content: center;
		margin-top: 10px;
	}

	.passwordresetforminput {
		width: 80%;
	}

	.passwordresetbutton {
		margin-top: 20px;
	}

	.passwordresetbutton Button {
        width: 80%;
	}
}

.boxtext-center {
    margin-top: 10px;
    margin-bottom: 0px;
	text-align: center;
}